*{
    box-sizing: border-box;
}

.seeing_red{
    color: red;
    background-color: #000000;
    font-size: 30px;
    font-weight: 800;
    font-family: 'Times New Roman', Times, serif;
    margin: 10px;
    text-align: center;
    border: 5px solid firebrick;
}

.recipe{
    background-color: rgba(194, 148, 148, 0.781);
    color: firebrick;

    border: 3px inset firebrick;
    padding: 20px;
    margin: 10px 100px;
    width: auto;
    height: auto;

    text-align: center;
    font-family: 'Times New Roman', Times, serif;
    font-size: 20px;
    font-weight: 700;
}

img{
    height: auto;
    width: 300px;
}